In [1]:
import pandas as pd
import numpy as np

In [2]:
LLY = pd.read_csv('dataFiles/week-4_LLY_2016-2021.csv')
LLY_row = LLY[LLY['date'] == '2021-12-27']
LLY_row

,date,open,close,high,volume,low,adjclose,dividends,splits,symbol
1508,2021-12-27,275.040009,278.410004,280.299988,1677100,274.720001,278.410004,0.0,0.0,LLY

In [3]:
SPY = pd.read_csv('dataFiles/week-4_SPY_2016-2021.csv')
SPY_row = SPY[SPY['date'] == '2021-12-16']
SPY_row

,date,high,close,open,low,volume,adjclose,dividends,splits,symbol
1502,2021-12-16,472.869995,466.450012,472.570007,464.799988,116568600,464.816986,0.0,0.0,SPY

In [4]:
div = LLY[LLY['dividends'] != 0]
div

,date,open,close,high,volume,low,adjclose,dividends,splits,symbol
28,2016-02-10,73.730003,73.070000,74.870003,4748700,72.980003,64.331261,0.510,0.0,LLY
91,2016-05-11,75.970001,76.309998,77.059998,3716300,75.839996,67.632423,0.510,0.0,LLY
155,2016-08-11,79.980003,80.559998,80.669998,2408000,79.980003,71.854095,0.510,0.0,LLY
219,2016-11-10,78.959999,78.339996,79.699997,6904800,78.000000,70.331543,0.510,0.0,LLY
282,2017-02-13,77.570000,77.769997,78.059998,2097500,77.529999,70.289696,0.520,0.0,LLY
343,2017-05-11,80.720001,80.220001,81.000000,3920500,79.910004,72.972221,0.520,0.0,LLY
407,2017-08-11,81.800003,81.150002,81.970001,2446400,81.120003,74.289001,0.520,0.0,LLY
473,2017-11-14,82.690002,82.489998,83.110001,2684800,82.209999,75.992615,0.520,0.0,LLY
535,2018-02-14,75.410004,77.029999,77.190002,4361100,75.339996,71.490807,0.563,0.0,LLY
598,2018-05-16,81.800003,81.180000,81.949997,3614500,80.959999,75.861908,0.563,0.0,LLY
660,2018-08-14,101.769997,102.440002,102.839996,3283900,101.269997,96.258202,0.563,0.0,LLY
725,2018-11-14,112.360001,109.809998,112.650002,5392800,109.739998,103.702919,0.563,0.0,LLY
786,2019-02-14,118.940002,120.750000,121.250000,17847000,118.800003,114.652573,0.645,0.0,LLY
849,2019-05-16,114.570000,116.730003,117.680000,3914100,114.570000,111.457352,0.645,0.0,LLY
911,2019-08-14,114.860001,110.290001,114.870003,4937900,110.220001,105.898598,0.645,0.0,LLY
976,2019-11-14,112.190002,111.389999,112.360001,2627100,111.000000,107.569939,0.645,0.0,LLY
1037,2020-02-13,142.860001,141.800003,143.740005,3455500,141.789993,137.646820,0.740,0.0,LLY
1100,2020-05-14,155.940002,158.380005,158.949997,2393900,153.809998,154.464981,0.740,0.0,LLY
1163,2020-08-13,150.820007,150.460007,151.690002,2077700,149.789993,147.456039,0.740,0.0,LLY
1227,2020-11-12,142.929993,141.029999,143.460007,3463400,139.860001,138.924484,0.740,0.0,LLY
1288,2021-02-11,202.869995,202.580002,204.179993,3544700,201.619995,200.388947,0.850,0.0,LLY
1351,2021-05-13,192.250000,194.940002,196.110001,2174300,191.750000,193.683701,0.850,0.0,LLY
1414,2021-08-12,263.200012,263.470001,264.540009,2100900,261.489990,262.617279,0.850,0.0,LLY
1479,2021-11-12,261.779999,259.649994,262.519989,1964000,258.929993,259.649994,0.850,0.0,LLY

In [5]:
splits = LLY[LLY['splits'] > 0]
splits

Empty DataFrame
Columns: [date, open, close, high, volume, low, adjclose, dividends, splits, symbol]
Index: []

In [6]:
LLY_volumeSorted = LLY.sort_values(by='volume', ascending=False)
LLY_volumeSorted

,date,open,close,high,volume,low,adjclose,dividends,splits,symbol
799,2019-03-06,128.750000,126.680000,128.789993,74822500,125.389999,120.283142,0.0,0.0,LLY
804,2019-03-13,124.599998,124.309998,130.750000,68139300,123.160004,118.032799,0.0,0.0,LLY
802,2019-03-11,122.800003,123.500000,124.910004,61771200,122.510002,117.263702,0.0,0.0,LLY
800,2019-03-07,126.410004,126.339996,127.190002,60615600,125.129997,119.960297,0.0,0.0,LLY
797,2019-03-04,130.509995,127.459999,130.509995,59468600,125.339996,121.023758,0.0,0.0,LLY
...,...,...,...,...,...,...,...,...,...,...
1510,2021-12-29,275.820007,278.420013,279.359985,1112300,275.739990,278.420013,0.0,0.0,LLY
501,2017-12-26,85.290001,84.989998,85.430000,1099900,84.959999,78.295700,0.0,0.0,LLY
1509,2021-12-28,279.339996,276.429993,279.399994,1033900,275.890015,276.429993,0.0,0.0,LLY
480,2017-11-24,83.870003,84.029999,84.169998,817600,83.580002,77.411316,0.0,0.0,LLY
1256,2020-12-24,165.850006,166.660004,167.940002,627200,165.850006,164.171860,0.0,0.0,LLY

In [7]:
LLY_ = LLY.copy()
LLY_ = LLY_.drop(columns=['open', 'high', 'low', 'close', 'dividends', 'splits'])
LLY_ = LLY_.rename(columns={'adjclose': 'LLY_adj', 'volume': 'LLY_volume'})
LLY_.info()
LLY_.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1512 non-null   object
 1   LLY_volume  1512 non-null   int64
 2   LLY_adj     1512 non-null   float64
 3   symbol      1512 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 47.4+ KB

         date  LLY_volume    LLY_adj symbol
0  2015-12-30     1969400  75.366119    LLY
1  2015-12-31     3178500  73.669937    LLY
2  2016-01-04     6907300  72.454643    LLY
3  2016-01-05     7475300  73.538803    LLY
4  2016-01-06     6628400  73.075394    LLY

In [8]:
SPY_ = SPY.copy()
SPY_ = SPY_.drop(columns=['open', 'high', 'low', 'close', 'dividends', 'splits'])
SPY_ = SPY_.rename(columns={'adjclose': 'SPY_adj', 'volume': 'SPY_volume'})
SPY_.info()
SPY_.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1512 non-null   object
 1   SPY_volume  1512 non-null   int64
 2   SPY_adj     1512 non-null   float64
 3   symbol      1512 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 47.4+ KB

         date  SPY_volume     SPY_adj symbol
0  2015-12-30    63317700  184.512115    SPY
1  2015-12-31   114877900  182.666382    SPY
2  2016-01-04   222353500  180.112778    SPY
3  2016-01-05   110845800  180.417389    SPY
4  2016-01-06   152112600  178.141617    SPY

In [9]:
SPY_LLY = pd.merge(LLY_, SPY_, on='date', how='inner')
SPY_LLY.info()
SPY_LLY.head()
volRatio = SPY_LLY[SPY_LLY['date'] == '2015-12-30']
volRatio['volume_ratio'] = volRatio['LLY_volume'] / volRatio['SPY_volume']
volRatio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1512 non-null   object
 1   LLY_volume  1512 non-null   int64
 2   LLY_adj     1512 non-null   float64
 3   symbol_x    1512 non-null   object
 4   SPY_volume  1512 non-null   int64
 5   SPY_adj     1512 non-null   float64
 6   symbol_y    1512 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 82.8+ KB

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_5323/666660191.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volRatio['volume_ratio'] = volRatio['LLY_volume'] / volRatio['SPY_volume']

,date,LLY_volume,LLY_adj,symbol_x,SPY_volume,SPY_adj,symbol_y,volume_ratio
0,2015-12-30,1969400,75.366119,LLY,63317700,184.512115,SPY,0.031103

In [10]:
SPY_LLY['LLY_adj'].pct_change()*100

0            NaN
1      -2.250590
2      -1.649647
3       1.496329
4      -0.630156
          ...
1507    2.476550
1508    1.944342
1509   -0.711185
1510    0.719900
1511   -0.420233
Name: LLY_adj, Length: 1512, dtype: float64

In [11]:
SPY_LLY['LLY_adj'].pct_change()*100

0            NaN
1      -2.250590
2      -1.649647
3       1.496329
4      -0.630156
          ...
1507    2.476550
1508    1.944342
1509   -0.711185
1510    0.719900
1511   -0.420233
Name: LLY_adj, Length: 1512, dtype: float64

In [12]:
returns = pd.DataFrame({
    'LLY_ret': SPY_LLY['LLY_adj'].pct_change(),
    'LLY_next_ret': SPY_LLY['LLY_adj'].pct_change().shift(-1),
    'SPY_ret': SPY_LLY['SPY_adj'].pct_change(),
    'SPY_next_ret': SPY_LLY['SPY_adj'].pct_change().shift(-1),
    'LLY_volume': SPY_LLY['LLY_volume'],
    'SPY_volume': SPY_LLY['SPY_volume']
})

# Number of missing values in each column
returns.isnull().sum()

LLY_ret         1
LLY_next_ret    1
SPY_ret         1
SPY_next_ret    1
LLY_volume      0
SPY_volume      0
dtype: int64

In [ ]:
returns_ = returns.dropna()
returns_descriptive = returns_.describe()

highest = returns_descriptive.loc['max', 'LLY_ret']
lowest = returns_descriptive.loc['min', 'LLY_ret']

print("Highest LLY_ret:", highest)
print("Lowest LLY_ret:", lowest)

Highest LLY_ret: 0.156797720121171
Lowest LLY_ret: -0.10514554571717838

In [36]:
returns_ = returns.dropna()
highest_ret_day = returns_[returns_['LLY_ret'] == returns_['LLY_ret'].max()]
highest_vol_day = returns_[returns_['LLY_volume'] == returns_['LLY_volume'].max()]

# Median LLY_volume
median_vol = returns_['LLY_volume'].median()

highest_ret_day

       LLY_ret  LLY_next_ret   SPY_ret  SPY_next_ret  LLY_volume  SPY_volume
1122  0.156798     -0.022845  0.019248     -0.004154    15029300   137627500

In [38]:
highest_vol_day

      LLY_ret  LLY_next_ret   SPY_ret  SPY_next_ret  LLY_volume  SPY_volume
799 -0.014087     -0.002684 -0.006057     -0.008366    74822500    75039800

In [39]:
median_vol

np.float64(3577850.0)

In [23]:
returns_['LLY_volume_level']= np.where(returns_['LLY_volume'] > returns_['LLY_volume'].quantile(0.9),"H", "N")
returns_['LLY_volume_level'].value_counts()
returns_

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_5323/2986052617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  returns_['LLY_volume_level']= np.where(returns_['LLY_volume'] > returns_['LLY_volume'].quantile(0.9),"H", "N")

,LLY_ret,LLY_next_ret,SPY_ret,SPY_next_ret,LLY_volume,SPY_volume,LLY_volume_level
1,-0.022506,-0.016496,-0.010003,-0.013980,3178500,114877900,N
2,-0.016496,0.014963,-0.013980,0.001691,6907300,222353500,H
3,0.014963,-0.006302,0.001691,-0.012614,7475300,110845800,H
4,-0.006302,-0.025963,-0.012614,-0.023992,6628400,152112600,N
5,-0.025963,-0.001966,-0.023992,-0.010977,5833200,213436100,N
...,...,...,...,...,...,...,...
1506,0.006116,0.024766,0.009999,0.006222,2721000,58890200,N
1507,0.024766,0.019443,0.006222,0.014152,2632200,56439700,N
1508,0.019443,-0.007112,0.014152,-0.000817,1677100,56808600,N
1509,-0.007112,0.007199,-0.000817,0.001279,1033900,47274600,N
1510,0.007199,-0.004202,0.001279,-0.002765,1112300,54503000,N

In [27]:
returns_['LLY_ret_level']= np.where(returns_['LLY_ret'] > returns_['LLY_ret'].quantile(0.9),"extreme", "normal")
returns_['LLY_ret_level'].value_counts()

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_5323/3618508368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  returns_['LLY_ret_level']= np.where(returns_['LLY_ret'] > returns_['LLY_ret'].quantile(0.9),"extreme", "normal")

LLY_ret_level
normal     1359
extreme     151
Name: count, dtype: int64